.card-jenis {
  display: flex;
  place-items: center;
}
.card-dua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-inti {
  margin-left: 10px;
  margin-top: 10px;
}
h1 {
  text-align: center;
}